body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f8f8;
}
 
/* Styling for website navbar */
.topnav {
  position: fixed;
  width: 100%;
  background-color: rgb(0, 54, 105);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
  z-index: 999;
}

.topnav img{
  position: relative;
  height: 1.5rem;
}

.topnav img:nth-child(2){
  padding: 0rem 0.5rem;
}

.topnav a {
  position: relative;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 3rem;
  text-decoration: none;
  font-size: 2rem;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

.topnav a.active {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.65);
}

.topnav .icon {
  display: none;
}

.resize {
  display: none;
}

section {
  position: relative;
  top: 5rem;
}

/* Styling for content cards */
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:  rgb(0, 54, 105);
}

.card {
  position: relative;
  flex: 1 0 325px;
  padding-bottom: 2em;
  margin: 2em 1em;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card.fill {
  position: absolute;
  top: 5rem;
  height: 70vh;
}

.landing-page {
  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.landing-page h1 {
  margin: 6rem 2rem 3rem 2rem;
  padding: 0;
  font-size: 5rem;
}

.landing-page h2 {
  margin: 0rem 2rem 2rem 2rem;
  padding: 0;
  font-size: 4rem;
  font-weight: 400;
  color: rgb(64, 106, 145);
}

.landing-page h3 {
  position: relative;
  top: 1rem;
  margin: 0rem 2rem 0rem 2rem;
  padding: 0;
  font-size: 1.5rem;
  color: rgb(64, 106, 145);
}
.landing-page li {
  position: relative;
  top: 1rem;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: left;
  font-size: 1rem;
  color: rgb(64, 106, 145);
}

a svg {
  display: inline-block;
  margin: 0rem 7rem 0 7rem;
  padding:0;
  height: 3rem;
  width: 3rem;
  fill: rgb(0, 54, 105);
}

a svg:hover {
  fill: rgb(61, 115, 165);
  transform: scale(1.1);
}

.container.icons h3 {
  margin-bottom:1.2rem;
  padding: 0;
  font-size: 1.2;
  font-weight: 400;
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 0em 0em 5em 0em;
}

.og-rate, .buttonpadding {
  padding: 0;
}
 .payperiod {
  content: "";
  padding: 2em 0em 0em 0em;
}

/* Styling for buttons on forms */
.switch {
  position: relative;
  margin: 0 auto;
  top: 2em;
  width: 74px;
  height: 36px;
  margin: 0 auto 0 auto;
  overflow: hidden;
}

.button.r, .button.r .layer {
  border-radius: 100px;
}

.knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #01589b25;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease all;
  z-index: 1;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.switch .knobs:before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: rgb(0, 54, 105);
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color:white;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.switch:hover .layer {
  background-color: #01589b4f;
}

.switch:hover .checkbox:checked ~ .layer {
  background-color: #01589bcc;
}

.switch .checkbox:checked + .knobs:before {
  color:  rgb(0, 54, 105);
  left: 42px;
  background-color:white;
}

.switch .checkbox:checked ~ .layer {
  background-color: rgb(0, 54, 105);
}

.switch .knobs, .switch .knobs:before, .switch .layer {
  transition: 0.3s ease all;
}

.switch.scheduleSelector .knobs:before{
  content: 'FT';
}

.switch.scheduleSelector .checkbox:checked + .knobs:before {
  content: 'PT';
}

.switch.shiftSelector .knobs:before{
  content: 'Day';
}

.switch.shiftSelector .checkbox:checked + .knobs:before {
  content: 'Nite';
}

.switch.advancedOptions .knobs:before{
  content: 'Bsc.';
}

.switch.advancedOptions .checkbox:checked + .knobs:before {
  content: 'Adv.';
}

/* Styling form for calculators */
.container.week {
  display: flex;
}

.weekcol {
  width:48%;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
}

.display-none {
  display: none;
}

.form-input { 
  position:relative; 
  margin: 2.2rem
}

input {
  position: relative;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color:inherit;
  color: inherit;
  text-align: center;
  font-size:1.2rem;

}

input:focus {
  outline:none;
}

/* Animations for the labels on form inputs */

label {
  position:absolute;
  left:0.3125rem;
  top:0px;
  color:#999; 
  font-size:1rem;
  font-weight:normal;
  pointer-events:none;
  transition:0.15s ease-in-out; 
  -moz-transition:0.15s ease-in-out; 
  -webkit-transition:0.15s ease-in-out;
}

input:focus ~ label,
input:hover ~ label, 
input:valid ~ label,
input:not(:placeholder-shown) ~ label {
  top:-1.25rem;
  left:0.3125rem;
  font-size:0.5rem;
  color: #01579b;
}

label span {
  color:red;
}

input:valid ~ label span {
  display: none;
}

/* Bottom bars for the form inputs*/
.bar { 
  position:relative; 
  display:block; 
  width: 101%; 
}

.bar:before, .bar:after {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #01579b; 
  transition:0.2s ease-in-out; 
  -moz-transition:0.2s ease-in-out; 
  -webkit-transition:0.2s ease-in-out;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%; 
}

/* Active state For inputs */
input:focus ~ .bar:before, 
input:focus ~ .bar:after {
  width:50%;
}

/* Highlighter animation for the form inputs */
.highlight {
  position: absolute;
  top: -80%; 
  height: 175%; 
  width: 100%; 
  pointer-events: none;
}

input:hover ~ .highlight {
  -webkit-animation:inputHighlighter .5s ease-in-out;
  -moz-animation:inputHighlighter .5s ease-in-out;
  animation:inputHighlighter .5s ease;
} 

@-webkit-keyframes inputHighlighter {
  from { background: #01589b25; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: #01589b25; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#01589b25; }
  to  { width:0; background:transparent; }
}

/* styling for buttons associated with the calculator forms */
.calc-button {
  position: relative;
  display: block;
  height: 3em;
  margin: 2rem auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
  background-color:rgb(0, 54, 105);
  color: #ecf0f1;
  transition: background-color .3s;
}

.calc-button:hover, .calc-button:focus {
  cursor: pointer;
  background-color: rgb(48, 94, 136);
  box-shadow: none;
}

.calc-button > * {
  position: relative;
}

.calc-button span {
  padding: 1rem 2rem;
}

.calc-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.calc-button:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .1s ease-out, padding-top .1s ease-out;
}

/* Styling parameters for tables across the site*/
.container.table {
  height: 90%;
}

table {
  position: relative;
  border-collapse: collapse;
  height: 100%;
  width: 90%;
  text-align: center;
}

th {
  width: 20%;
  font-size: 1.3rem;
}

td {
  font-size: 1.2rem;
}

td p {
  display: inline;
  font-weight: bold;
}

td ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
td li {
  text-align: left;
  font-size: 1rem;
  padding: .5rem;
}

table tr:nth-child(even) {
  background-color: #01589b25;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table tr:nth-child(2) td:first-child {
  border-top-left-radius: 10px;
}

table tr:nth-child(2) td:last-child {
  border-top-right-radius: 10px;
}

@media screen and (max-width: 1024px) {

section {
  top: 3rem;
}

.topnav a {
  font-size: 1.5rem;
}

.topnav img {
  position: relative;
  top: .5rem;
  height:1.7rem;
}
  
.landing-page h1 {
  margin: 6rem 0rem 0rem 0;
  font-size: 4rem;
}

.landing-page h2 {
  margin: 0rem 0rem 0rem 0;
  font-size: 2.5rem;
}

th {
  font-size: 1.2rem;
  padding: 1rem 0.25rem 0rem 0.25rem;
}

td {
  padding: .25;
  font-size: 1rem;
}

}
  
/* Responsive selectors for mobile styling */
@media screen and (max-width: 600px) {
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.toggle {position: fixed;}
  .topnav.toggle a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.toggle a {
    float: none;
    display: block;
    text-align: left;
  }

  .landing-page h1 {
    margin: 2rem .25rem 0rem .25rem;
    font-size: 2rem;
  }
  
  .landing-page h2 {
    margin: 0rem .5rem;
    font-size: 1.5rem;
  }

  .landing-page h3 {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .landing-page li {
    padding: 0 1rem;
    font-size: 0.8rem;
  }
  
  a svg {
    margin: 0rem 2.8rem 0 2.8rem;
    padding:0;
    width: 2rem;
    fill: rgb(0, 54, 105);
  }
  
  a svg:hover {
    fill: rgb(61, 115, 165);
    transform: scale(1.1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --light-bg: #292929;
    --dark-bg: #1b1b1b;
    --light-text: white;
    --dark-text: rgb(196, 196, 196);
    --light-hover: rgba(255, 255, 255, 0.10);
  }

  body {
    color: var(--dark-text);
    background: var(--light-bg);
  }

  .topnav {
    background: var(--dark-bg);
  }


  .card {
    color: var(--dark-text);
    background: var(--dark-bg);
  }

  .container h1, 
  .container h3 {
    color: var(--light-text);
    font-weight: bold;
  }
  
  .container h2,
  .container li, 
  .container table,
  .container input {
    color: var(--dark-text);
  }

  a svg {
    fill: var(--dark-text);
  }
  
  a svg:hover {
    fill: var(--light-text);
  }

  .layer {
    background-color: var(--light-bg);
  }

  .switch .knobs:before {
    color: var(--light-bg);
    background-color:var(--dark-text)
  }
  
  .switch:hover .layer {
    background-color:var(--light-hover);
  }
  
  .switch:hover .checkbox:checked ~ .layer {
    background-color: var(--light-hover);
  }
  
  .switch .checkbox:checked + .knobs:before {
    color: var(--light-bg);
    background-color:var(--dark-text)
  }
  
  .switch .checkbox:checked ~ .layer {
    background-color: rgb(12, 12, 12);
  }

  .calc-button {
    background-color: var(--light-bg);
    color: var(--dark-text);

  }
  
  .calc-button:hover, .calc-button:focus {
    background-color: var(--light-hover);
  }

  input:focus ~ label,
  input:hover ~ label, 
  input:valid ~ label,
  input:not(:placeholder-shown) ~ label {
  color: var(--light-text);
}


.bar:before, .bar:after {
  background: var(--dark-text); 
}

@-webkit-keyframes inputHighlighter {
  from { background:var(--light-bg); }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background: var(--light-bg);  }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:var(--light-bg);  }
  to  { width:0; background:transparent; }
}
  
  table tr:nth-child(even) {
    background-color: var(--light-bg);
  }
}