*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* Style the tab */
.tab {
    position: relative;
    overflow: hidden;
    background:rgb(16, 69, 126);
}
  
.tab img {
    height: 3em;
    float: right;
    margin: 0.5em 1em;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    height: 4em;
    width: 20%;
    float: left;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(221, 221, 221, 0.2);
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color:rgb(255, 255, 255);
    color: rgb(16, 69, 126);
    font-weight: 500;
}

/* Style the tab content */
.tabcontent {
    position: absolute;
    height:100%;
    width:100%;
    background:rgb(255, 255, 255);
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 10%;
    height: 85%;
    color: #01579b;
}

.card {
    flex: 1 0 325px;
    margin: 0em 1em 2em 1em;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.row
{
    position: relative;
    left: 25%;
    display: flex;
    width: 50%
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}


.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-1 {
    position: relative;
    margin: 0 auto;
    top: 2em;
    width: 74px;
    height: 36px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#button-2 {
    position: relative;
    margin: 0 auto;
    top: 2em;
    width: 74px;
    height: 36px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

#button-1 .knobs:before
{
    content: 'FT';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #01579b;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'PT';
    left: 42px;
    background-color: #019b46;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color:#ebf7fc;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

#button-2 .knobs:before
{
    content: 'Day';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #01579b;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-2 .checkbox:checked + .knobs:before
{
    content: 'Nite';
    left: 42px;
    background-color: #019b46;
}

#button-2 .checkbox:checked ~ .layer
{
    background-color:#ebf7fc;
}

#button-2 .knobs, #button-2 .knobs:before, #button-2 .layer
{
    transition: 0.3s ease all;
}


.week-container {
    height: 90%;
    width:100%;
    padding: 4em 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    color: #01579b;
    
}

.commission-calc {
    position: relative;
    width:45%;
}

.commission-calc h2 {
    font-size: 1.8rem;
    text-align: center; 
}

.form-input { 
    position:relative; 
    margin: 1.35vh;
}


input {
    background-color: inherit;
    text-align: center;
    position: relative;
    font-size:1.2rem;
    display:block;
    width: 100%;
    border:none;
    border-bottom:1px solid #757575;
    color: inherit;
}
  
input:focus {
    outline:none;
}
  
/* LABEL ======================================= */

label          {
    color:#999; 
    text-align: center;
    font-size:1rem;
    font-weight:normal;
    position:absolute;
    padding: .5em 0em 0em 0em;
    pointer-events:none;
    top:0px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
/* active state */
input:focus ~ label, 
input:valid ~ label {
    top:-16px;
    font-size:0.3rem;
    font-weight: 600;
    color: #01579b;
}
  
/* BOTTOM BARS ================================= */
.bar { 
    position:relative; 
    display:block; 
    width: 100%; 
}

.bar:before, .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: #01579b; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
.bar:before {
    left:50%;
}
  
.bar:after {
    right:50%; 
}
  
/* active state */
input:focus ~ .bar:before, 
input:focus ~ .bar:after {
    width:50%;
}
  
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    top: 0%; 
    height: 100%; 
    width: 100%; 
    pointer-events: none;
    opacity: 0.35;
}
  
/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
 

.bold-label {
    font-weight: bold;
    color: #01579b;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background: #01579b; }
    to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: #01579b; }
    to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background: #01579b; }
    to  { width:0; background:transparent; }
}


.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 1em;
    min-width: 75px;
    height: 36px;
    left: 35%;
    bottom: 5%;
    transform: translatex(-35%);
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 1, 87, 155));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}

.commission-table {
    height: 95%;
    width: 90%;
    padding-bottom: 2em;

}



table {
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    left: 5%;
    text-align: center;
}

th {
    font-size: 0.5rem;
    padding: 2.5em .25em 0em .25em;
}

tr:nth-child(even) {
    background-color: #01589b25;
}

td {
    padding: 1em 0.25em;
    font-size: 0.4rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:nth-child(2) td:first-child {
    border-top-left-radius: 10px;
}

table tr:nth-child(2) td:last-child {
    border-top-right-radius: 10px;
}




























@media only screen and (min-width: 768px) {
    /* For desktop: */
    .tab button {
        height: 2em;
        font-size: 2rem;
    }

    .form-input { 
        margin: 2.5vh;
    }

    input {
        font-size: 1.50rem;
    }

    .pure-material-button-contained {
        left: 45%;
        transform: translatex(-45%);
    }

    th {
        font-size: 1.6rem;
        vertical-align: bottom;
        padding: 0.75em .25em 0em .25em;
    }

    td {
        padding: .30em 0.25em;
        font-size: 1.5rem;
    }
}



#Retention {
    padding: 150px 0;
    text-align: center;
}

#underwork {
    height: 100px;
}
